<!DOCTYPE html>
<html lang="pt-AO">
<head>
    <meta charset="UTF-8"> 
    <title>777PY | Termos e Condições</title>
    <meta property="og:type" content="website">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="author" content="Calebe 'CL' Lukombo">
    <script src="../assets/js/script.js" defer></script>
    <link rel="canonical" href="https://www.777py.com">
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta property="og:url" content="https://www.777py.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/logo_ico.ico" type="image/x-icon">
    <meta property="og:image" content="https://www.777py.com/imagens/777py-cover.png">
    <meta property="og:title" content="777py - Previsões Inteligentes para Esportes, Política e Clima">
    <meta name="keywords" content="777py, 777Angola, apostas, aposta em Angola, palpites, ciência, estatísticas">
    <meta property="og:description" content="O 777py usa IA e estatísticas avançadas para prever eventos esportivos, políticos e climáticos com precisão.">
    <meta name="description" content="Antecipe resultados com o 777py - software de previsões desportivas, políticas e climáticas baseado em ciência, matemática e inteligência artificial.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <main class="hero">

        <section class="secao secao9">

            <div class="divTopoSecao">
                <nav>
                    <h2 class="tituloSecao">Termos <span class="textoSemEfeito">e Condições</span></h2>
                    <p class="textoSecao">Bem-vindo ao <span style="font-weight: 500; font-family: 'Libre Franklin';">777<sup>PY</sup></span>! Estes Termos e Condições estabelecem as regras para o uso do website <span style="font-weight: 500; font-family: 'Libre Franklin';">777<sup>PY</sup></span> localizado em <span style="font-weight: 500;">https://www.777py.com/</span> e da pesquisa científica organizada pela nossa startup! Ao acessar esse site e participar da pesquisa, consideramos que você está de acordo com os Termos e Condições aqui descritos ou em qualquer material digital ou físico da nossa autoria. Não participe da pesquisa ou pare de usar imediatamente o <span style="font-weight: 500; font-family: 'Libre Franklin';">777<sup>PY</sup></span> caso não concorde com todos os Termos e Condições estabelecidos por nós.</p>
                </nav>
            </div>

            <div>

	            <nav>
                    <h3>Natureza do projeto e uso do termo "Desafio"</h3>
                    <p>Ressaltamos que o 777PY é um projeto de pesquisa científica e estatísticas voltada à análise de previsões e padrões. Não promovemos casas de apostas, jogos de azar ou qualquer atividade similar. Em determinadas seções do site ou conteúdos produzidos oficialmente por nós, utilizamos o termo "Desafio" como referência à nossa pesquisa. Esse termo é adotado para fins didáticos, publicitários e de edutretenimento, conforme o objetivo lúdico do projeto.</p>
                </nav>

                <nav>
                    <h3>Adaptação de termos técnicos</h3>
                    <p>Alguns termos científicos e/ou técnicos presentes no site e em nossos materiais podem ter sido adaptados, simplificados ou parafraseados. Essa decisão visa garantir acessibilidade e compreensão a um público com diferentes níveis de conhecimento técnico, origens regionais, e realidades sociais distintas, bem como facilitar a linguagem publicitária.</p>
                </nav>

                <nav>
                    <h3>Termos Específicos do 777PY</h3>
                    <p>O 777PY é uma plataforma voltada para fins científico e informação analítica. Não garantimos resultados ou ganhos com base nas informações fornecidas.</p>
                    <ul>
                        <li>Não incentivamos o uso indevido de dados para apostas ilegais e imoderada ou atividades não regulamentadas;</li>
                        <li>Todo conteúdo gerado por IA ou algoritmos é fornecido "como está", com próposito linguístico, científico, experimental ou educativo;</li>
                        <li>Os usuários são responsáveis por interpretar, utilizar e partilhar as informações conforme a sua própria análise, habilidade ou julgamento;</li>
                    </ul>
                </nav>

                <nav>
                    <h3>Cookies</h3>
                    <p>Utilizamos cookies para proporcionar uma experiência personalizada. Ao acessar o 777PY, você concorda com o uso dos cookies necessários.<br> Cookies são arquivos de texto colocados no seu dispositivo por um servidor de página web. Eles não são capazes de executar programas ou transmitir vírus. Você pode optar por aceitar ou recusar cookies opcionais. Cookies obrigatórios, que garantem o funcionamento do site, não necessitam de consentimento.</p>
                </nav>
                        
                <nav>
                    <h3>Licença</h3>
                    <p>A menos que declarado o contrário, o 777PY e/ou seus licenciadores detêm os direitos de propriedade intelectual de todo o conteúdo do site. Todos os direitos são reservados. Você pode acessar o conteúdo para uso pessoal, respeitando as restrições abaixo:</p>
                    <ul>
                        <h4>Você não deve:</h4>
                        <li>Reproduzir, republicar ou copiar materiais do 777PY;</li>
                        <li>Vender, alugar ou sublicenciar materiais do 777PY;</li>
                        <li>Redistribuir conteúdo do 777PY sem permissão expressa;</li>
                    </ul>    
                </nav>

                <nav>
                    <h3>Publicações ou Dizeres de Usuários</h3>
                    <p>Áreas interativas do site podem conter publicações, comentários ou opiniões dos nossos usuários. Esses comentários são de responsabilidade exclusiva dos seus autores. O 777PY não se responsabiliza por comentários publicados por terceiros, mas reserva-se o direito de moderar ou remover qualquer conteúdo inadequado.</p>
                    <ul>
                        <h4>Ao publicar comentários, você garante que:</h4>
                        <li>Detém os direitos legais para expressar, postar, comentar sobre diversos conteúdos;</li>
                        <li>O conteúdo não infringe direitos de terceiros;</li>
                        <li>O conteúdo não é difamatório, ofensivo ou ilegal;</li>
                        <li>O conteúdo não promove atividades comerciais ou ilegais;</li>
                    </ul> 
                    <p>Você concede ao 777PY uma licença não exclusiva para usar, reproduzir, editar e sublicenciar seus comentários em qualquer mídia.</p>
                </nav>

                <nav>
                    <h3>Links para o Nosso Conteúdo</h3>
                    <p>Organizações como agências governamentais, mecanismos de busca e instituições educacionais podem incluir links para nosso site sem autorização prévia, desde que:</p>
                    <ul>
                        <li>O link não seja enganoso;</li>
                        <li>Não implique falsamente patrocínio ou endosso;</li>
                        <li>Esteja contextualizado dentro do nosso site;</li>
                    </ul>
                    <p>Outras organizações devem solicitar permissão pelos canais oficiais contidos nessa site.</p>
                </nav>
                
                <nav>
                    <h3>iFrames</h3>
                    <p>Sem permissão prévia, não é permitido criar "frames" em torno de nossas páginas que modifiquem a aparência visual do nosso site</p>
                </nav>

                <nav>
                    <h3>Responsabilidade pelo Conteúdo</h3>
                    <p>Não nos responsabilizamos por conteúdo exibido em sites de terceiros que contenham links para o nosso site. Ao vincular seu site ao nosso, você concorda em nos isentar de qualquer responsabilidade.</p>
                </nav>

                <nav>
                    <h3>Direitos Reservados</h3>
                    <p>Reservamo-nos o direito de solicitar a remoção de qualquer link para nosso site e de alterar estes termos a qualquer momento. Ao continuar usando nosso site, você concorda com tais termos atualizados.</p>
                </nav>

                <nav>
                    <h3>Remoção de Link</h3>
                    <p>Se encontrar algum link ofensivo em nosso site, entre em contato conosco. Consideraremos sua solicitação, mas não somos obrigados a remover links ou responder diretamente</p>
                </nav>

                <nav>
                    <h3>Precisão das Informações</h3>
                    <p>Não garantimos que todas as informações presentes neste site estejam completas, corretas ou atualizadas. O conteúdo pode ser alterado a qualquer momento sem aviso prévio.</p>
                </nav>

                <nav>
                    <h3>Isenção de Responsabilidade</h3>
                    <p>Na máxima extensão permitida por lei, excluímos todas as garantias, expressas ou implícitas, relativas ao uso deste site. Nada nestes termos:</p>
                    <ul>
                        <li>Limita ou exclui responsabilidade por fraude ou declaração fraudulenta;</li>
                        <li>Limita quaisquer responsabilidades de forma contrária à legislação aplicável.</li>
                    </ul>
                </nav>

                <nav>
                    <h3>Fale Connosco</h3>
                    <p>Se tiver dúvidas sobre os nossos Termos e Condições, entre em contacto:</p>
                    <p>E-mail: apoio@777py.com</p>
                    <p>Telefone: 999 111 000 | 999 111 222</p>
                </nav>
            
            </div>
        </section>

        <nav class="btnVoltarHomeTermPolitics">
            <a href="../" rel="noopener noreferrer nofollow"><button class="btn">Voltar a Página Inicial</button></a>
        </nav>

        <footer>
            <nav>
                <a href="../" rel="_top noopener noreferrer nofollow"><img src="../assets/img/logo.png" alt="logo da 777PY" srcset="../assets/img/logo.png" draggable="false"></a>
            </nav>

            <nav>
                <a href="#" target="_top" rel="noopener noreferrer nofollow">Voltar ao Topo</a>
                <a href="termos.html" rel="noopener noreferrer nofollow">Termos e Condições</a>
                <a href="politica.html" rel="noopener noreferrer nofollow">Política de Privacidade</a>
            </nav>

            <nav>
                <div>Luanda, Angola</div>

                <div>
                    <a href="#" rel="noopener noreferrer nofollow"><i class="fa-brands fa-facebook-f socialRodape"></i></a>
                    <a href="#" rel="noopener noreferrer nofollow"><i class="fa-brands fa-whatsapp socialRodape"></i></a>
                    <a href="#" rel="noopener noreferrer nofollow"><i class="fa-solid fa-paper-plane socialRodape"></i></a>
                    <a href="#" rel="noopener noreferrer nofollow"><i class="fa-solid fa-phone socialRodape"></i></a>
                    <a href="#" rel="noopener noreferrer nofollow"><i class="fa-brands fa-github socialRodape"></i></a>
                    <a href="#" rel="noopener noreferrer nofollow"><i class="fa-brands fa-instagram socialRodape"></i></a>
                </div>

                <div>
                    <p>
                        <script>
                            var ano =  new Date;
                            var anoAtual = ano.getFullYear();
                            document.write("&copy;" + anoAtual + " — <span style='font-weight: 800;'>777<sup>PY</sup></span> — Todos os direitos reservados")
                        </script>
                    </p>
                </div>
                
            </nav>
        </footer>
    </main>


</body>
</html>